<div class="flexbox-exterior-container">
    <div class="flexbox-responsive-interior-container-500px">
        <h6 class="text-align-center">Buildings form</h6>
        <form [formGroup]="controlsGroup">
            <p>Specify the id only in case of select, update or delete</p>
            <mat-form-field>
                <input matInput placeholder="id" [formControl]="id" name="id">
            </mat-form-field><br>
            <mat-form-field>
                <input matInput placeholder="Name" [formControl]="name" name="name">
            </mat-form-field><br>
            <mat-form-field>
                <input matInput placeholder="Description" [formControl]="description" name="description">
            </mat-form-field><br>
            <mat-form-field>
                <input matInput placeholder="Floors" type="number" [formControl]="floors" name="floors">
            </mat-form-field><br>
            <mat-form-field>
                <input matInput placeholder="Height (m)" type="number" [formControl]="height" name="height">
            </mat-form-field><br>
            <mat-form-field>
                <input matInput placeholder="Category" [formControl]="category" name="category">
            </mat-form-field><br>
            <mat-form-field>
                <input matInput placeholder="Visited at (e.g. 2026-06-15T10:00:00Z)" [formControl]="visitedAt" name="visitedAt">
            </mat-form-field><br>
            <mat-form-field>
                <input matInput placeholder="Geometry WKT" [formControl]="geom" name="geom">
            </mat-form-field><br>
            <button mat-button matTooltip="Insert" mat-raised-button [disabled]="!controlsGroup.valid" (click)="insert()">Insert</button>
            <button mat-button matTooltip="Delete" (click)="deleteRow()">Delete</button>
            <button mat-button matTooltip="Update" (click)="update()">Update</button>
            <button mat-button matTooltip="Select" (click)="select()">Select</button>
            <button mat-button matTooltip="Select all" (click)="selectAll()">Select all</button>
            @if (geomInUrl) {
                <button mat-button matTooltip="Use geom in url" (click)="useGeomInUrl()">Use geom in url</button>
            }
            <button mat-button matTooltip="Clear form" (click)="clearForm()">Clear form</button>
            <br>
            <p>{{serverMessage}}</p>
        </form>
    </div>
    @if (l.length > 0) {
        <div class="margin-10px">
            <table>
                <tr>
                    <th>id</th><th>name</th><th>description</th><th>floors</th><th>height</th><th>category</th>
                </tr>
                @for (b of l; track b['id']) {
                    <tr (click)="id.setValue(b['id']); name.setValue(b['name']); description.setValue(b['description']); floors.setValue(b['floors']); height.setValue(b['height']); category.setValue(b['category']); visitedAt.setValue(b['visitedAt']); geom.setValue(b['geom'])">
                        <td>{{b['id']}}</td>
                        <td>{{b['name']}}</td>
                        <td>{{b['description']}}</td>
                        <td>{{b['floors']}}</td>
                        <td>{{b['height']}}</td>
                        <td>{{b['category']}}</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>