#map {
    position: relative;
    background-color: #add8e6;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 150px);
}

#draw-building {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    border-radius: 5px;
    background: white;
}

#draw-street {
    position: absolute;
    left: 50px;
    top: 10px;
    z-index: 1;
    border-radius: 5px;
    background: white;
}

#draw-point {
    position: absolute;
    left: 90px;
    top: 10px;
    z-index: 1;
    border-radius: 5px;
    background: white;
}

#select-feature {
    position: absolute;
    left: 130px;
    top: 10px;
    z-index: 1;
    border-radius: 5px;
    background: white;
}

#edit-feature {
    position: absolute;
    left: 170px;
    top: 10px;
    z-index: 1;
    border-radius: 5px;
    background: white;
}